<nav  class="navbar navbar-expand-md navbar-dark bg-white" style="background-image: linear-gradient(to bottom, blue , cyan);margin-bottom: 15px; border-radius: 25px;">
<div class="container">
  <img src="/images/logo.PNG" style="width: auto; height: auto; margin-top: auto;margin-bottom: auto; margin-left: auto; margin-right: auto;"></img>
<a href="/signin">Signin <i class="fa fa-sign-in"></i></a>
<a href="/signup">Signup <i class="fa fa-pencil"></i></a>


</div>
</nav>
<h1 style="font: italic bold 36px/60px Georgia, serif;"><center>Fund Management System</center></h1>
<br>
<br>

<div class="about-section">
  <link rel="stylesheet" href="about.css">
  <h1><i>About Us </i></h1>
  <p>Fund Management System is a website which maintains personal and official details of 
    funds in a secure way.</p>
  <p><i>"The greatest assest of a company is its Funds"</i></p>
</div>
 <br>                                                                  
<h2 style="text-align:center"><i>Group Members </i><i  class="fa fa-users  "></i></h2>
<div class="row">

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Ranjit Pandey</h2>
        <p class="title">Student</p>
        <p>Thakur College of Engineering and Technology</p>
        <p>Roll No.01</p>
      </div>
    </div>
  </div>
    <div class="column">
    <div class="card">
      <div class="container">
        <h2>Shubham Pandey</h2>
        <p class="title">Student</p>
        <p>Thakur College of Engineering and Technology</p>
        <p>Roll No.02</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Somya Patra</h2>
        <p class="title">Student</p>
        <p>Thakur College of Engineering and Technology</p>
        <p>Roll No.04</p>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Rutika Pawar</h2>
        <p class="title">Student</p>
        <p>Thakur College of Engineering and Technology</p>
        <p>Roll No.05</p>
      </div>
    </div>
  </div>
    <div class="column">
    <div class="card">
      <div class="container">
        <h2>Siddhant Pillai</h2>
        <p class="title">Student</p>
        <p>Thakur College of Engineering and Technology</p>
        <p>Roll No.06</p>
      </div>
    </div>
  </div>
</div>

{{!-- <nav  class="navbar navbar-expand-md navbar-dark bg-white" style="background-image: linear-gradient(to bottom, red , yellow);margin-bottom: 15px; border-radius: 25px;">
<div class="container">
  <img src="/images/logo.PNG" style="width: auto; height: auto; margin-top: auto;margin-bottom: auto; margin-left: auto; margin-right: auto;"></img>
<a href="/signin">Signin <i class="fa fa-sign-in"></i></a>
<a href="/signup">Signup <i class="fa fa-pencil"></i></a>

</div>
</nav>
<h1 style="font: italic bold 36px/60px Georgia, serif;"><center>Fund Management System</center></h1> --}}
