<nav  class="navbar navbar-expand-md navbar-dark bg-dark" style="background-image: linear-gradient(to right, blue , cyan);margin-bottom: 15px; border-radius: 25px;">
<div class="container">
  <img src="/images/logo.PNG" style="width: auto; height: auto; margin-top: auto;margin-bottom: auto; margin-left: auto; margin-right: auto;"></img>
<a href="/signin">Signin <i class="fa fa-sign-in"></i></a>
<a href="/signup">Signup <i class="fa fa-pencil"></i></a>

</div>
</nav>
<form action="/signin" method="POST">
  <input type="email" name="email" placeholder="Email" required>
  <input type="password" name="password" placeholder="Password" required>
  <button type="submit" ><i class="fa fa-sign-in"></i>
    SignIn
  </button>
</form>
